<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    
  </head>
  <body>
	<%-partial('../Partials/header_nav')%>
    <div class="container">
		<br /><br />
		<%-body%>
	</div>
    
  </body>
</html>