<header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-2 npad">
                    <div class="db-logo-block">
                        <a target="_blank" href="/">
                            Music Academy
                        </a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-10">
                    <div class="db-head-menu">
                        <a href="/admin/profile"><span><i class="ti-user"></i></span>Profile</a>
                        <a href="/logout"><span><i class="ti-power-off"></i></span>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>