<div class="db-side-menu-main" id="style-scroll">
    <div class="db-side-menu">
        <!-- <button class="navbar-toggle offcanvas-toggle js-offcanvas-has-events" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button> -->
        <nav class="navbar navbar-default navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-fade" id="js-bootstrap-offcanvas">
            <!-- <div class="navbar-header">
                <button data-target="#js-bootstrap-offcanvas" data-toggle="offcanvas" class="navbar-toggle offcanvas-toggle cls" type="button"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-times"></i> </button>
            </div> -->
            <div class="navbar-collapse">
                <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-parent="#accordion" href="/admin">
                                    <i class="ti-dashboard"></i> Dashboard
                                </a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#vendor-toggle" class="icon-toggle" title="Content Managemnet System">
                                    <i class="ti-id-badge"></i> CMS
                                    <span class="fa fa-angle-down indicator"></span>
                                </a>
                            </div>
                            <div id="vendor-toggle" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/admin/bannerlist" title="Banner Lists"><i class="ti-list"></i> Banner Lists</a></li>
                                        <li><a href="/admin/managebanner/0" title="Add New Banner"><i class="ti-plus"></i> Add New Banner</a></li>

                                        <li><a href="/admin/testimoniallist" title="Testimonials Lists"><i class="ti-list"></i> Testimonials Lists</a></li>
                                        <li><a href="/admin/managetestimonial/0" title="Add New Testimonial"><i class="ti-plus"></i> Add New Testimonial</a></li>

                                        <li><a href="/admin/page-list" title="Page Lists"><i class="ti-list"></i> Page List</a></li>
                                        <li><a href="/admin/add-new-page" title="Add New Page"><i class="ti-plus"></i> Add New Page</a></li>

                                        <li><a href="/admin/menulist" title="Menu Lists"><i class="ti-list"></i> Menu Lists</a></li>
                                        <li><a href="/admin/managemenu/0" title="Add New Menu"><i class="ti-plus"></i> Add New Menu</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-parent="#accordion" href="#">
                                    <i class="ti-home"></i> Home Page Settings
                                </a>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-parent="#accordion" href="#">
                                    <i class="ti-user"></i> Contact Us Users
                                </a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-parent="#accordion" href="/logout">
                                    <i class="ti-power-off"></i> Log Out
                                </a>
                            </div>
                        </div>

                </div>
            </div>
        </nav>
    </div>
</div>

<div class="clearfix"></div>
    