<%layout('../Shared/mainlayout')%>

<div class="main-db-block">
        <div class="db-top-pref">
            <div class="row">
                <div class="col-sm-4">
                    <div class="main-heading">
                        <h1>Music Academy</h1>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="main-page-nav">
                        <h4>Dashboard</h4>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="row">
    
            <div class="col-lg-12">
                <h1 class="text-center">C-M-S Project</h1>
    
            </div>
    
    
        </div>
    
    </div>
    