<%layout('../Shared/mainlayout')%>

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-center">New - Registration</h1>
        <hr /><br />
        <form name="SignupForm" id="SignupForm" method="POST" action="/register">
            <div class="form-group">
                <label>First Name:* </label>
                <input type="text" class="form-control" name="FirstName" placeholder="Enter Your First Name" />
            </div>
            <div class="form-group">
                <label>Last Name:* </label>
                <input type="text" class="form-control" name="LastName" placeholder="Enter Your Last Name" />
            </div>
            <div class="form-group">
                <label>Email:* </label>
                <input type="text" class="form-control" name="Email" placeholder="Enter Your First Email" />
            </div>
            <div class="form-group">
                <label>Phone:* </label>
                <input type="text" class="form-control" name="Phone" placeholder="Enter Your Phone" />
            </div>
            <div class="form-group">
                <label>Gender:* </label>
                <input type="radio" name="Gender" value="M" />Male
                <input type="radio" name="Gender" value="F" />Female
            </div>
            <div class="form-group">
                <label>Qualification:* </label>
                <input type="checkbox" name="Matric" />Matric
                <input type="checkbox" name="Gradution" />Gradution
            </div>
            <div class="form-group">
                <label>Password:* </label>
                <input type="password" class="form-control" name="Password" placeholder="*********" />
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </div> 
</div>

<script>
    $(document).on('submit','#SignupForm',function(e){
        e.preventDefault();

        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(data){
                $('#btnSubmit').removeAttr('disabled');
                if(data.success){
                    console.log(data.msg);
                }else{
                    console.log(data.msg);
                }
            },
            error: function(res,error){
                $('#btnSubmit').removeAttr('disabled');
                alert(req);
            },
            beforeSend: function(){
                $('#btnSubmit').attr('disabled','disabled');
            }
        });
    });
</script>